[submodule "src/qt6-qtdeclarative"]
	path = src/qt6-qtdeclarative
	url = https://github.com/sailfishos-chum/qt6-qtdeclarative
[submodule "src/qt6-qtlocation"]
	path = src/qt6-qtlocation
	url = https://github.com/sailfishos-chum/qt6-qtlocation
[submodule "src/qt6-qtpositioning"]
	path = src/qt6-qtpositioning
	url = https://github.com/sailfishos-chum/qt6-qtpositioning
[submodule "src/qt6-qtwayland"]
	path = src/qt6-qtwayland
	url = https://github.com/sailfishos-chum/qt6-qtwayland
[submodule "src/qt6-qtquicktimeline"]
	path = src/qt6-qtquicktimeline
	url = https://github.com/sailfishos-chum/qt6-qtquicktimeline
[submodule "src/qt6-qt3d"]
	path = src/qt6-qt3d
	url = https://github.com/sailfishos-chum/qt6-qt3d
[submodule "src/qt6-qtcharts"]
	path = src/qt6-qtcharts
	url = https://github.com/sailfishos-chum/qt6-qtcharts
[submodule "src/qt6-qtdatavis3d"]
	path = src/qt6-qtdatavis3d
	url = https://github.com/sailfishos-chum/qt6-qtdatavis3d
[submodule "src/qt6-qtscxml"]
	path = src/qt6-qtscxml
	url = https://github.com/sailfishos-chum/qt6-qtscxml
[submodule "src/qt6-qtsensors"]
	path = src/qt6-qtsensors
	url = https://github.com/sailfishos-chum/qt6-qtsensors
[submodule "src/qt6-qtwebchannel"]
	path = src/qt6-qtwebchannel
	url = https://github.com/sailfishos-chum/qt6-qtwebchannel
[submodule "src/kf6-kirigami"]
	path = src/kf6-kirigami
	url = https://github.com/sailfishos-chum/kf6-kirigami
[submodule "src/kf6-kcoreaddons"]
	path = src/kf6-kcoreaddons
	url = https://github.com/sailfishos-chum/kf6-kcoreaddons
[submodule "src/kf6-ki18n"]
	path = src/kf6-ki18n
	url = https://github.com/sailfishos-chum/kf6-ki18n
[submodule "src/kf6-kconfig"]
	path = src/kf6-kconfig
	url = https://github.com/sailfishos-chum/kf6-kconfig
[submodule "src/qt6-qtquick3d"]
	path = src/qt6-qtquick3d
	url = https://github.com/sailfishos-chum/qt6-qtquick3d
[submodule "src/qt6-qtgraphs"]
	path = src/qt6-qtgraphs
	url = https://github.com/sailfishos-chum/qt6-qtgraphs
[submodule "src/qt6-qtmultimedia"]
	path = src/qt6-qtmultimedia
	url = https://github.com/sailfishos-chum/qt6-qtmultimedia
[submodule "src/kf6-kiconthemes"]
	path = src/kf6-kiconthemes
	url = https://github.com/sailfishos-chum/kf6-kiconthemes
[submodule "src/kf6-ksvg"]
	path = src/kf6-ksvg
	url = https://github.com/sailfishos-chum/kf6-ksvg
[submodule "src/kf6-kitemmodels"]
	path = src/kf6-kitemmodels
	url = https://github.com/sailfishos-chum/kf6-kitemmodels
[submodule "src/kf6-kirigami-addons"]
	path = src/kf6-kirigami-addons
	url = https://github.com/sailfishos-chum/kf6-kirigami-addons
[submodule "src/kf6-kquickcharts"]
	path = src/kf6-kquickcharts
	url = https://github.com/sailfishos-chum/kf6-kquickcharts
[submodule "src/kf6-qqc2-breeze-style"]
	path = src/kf6-qqc2-breeze-style
	url = https://github.com/sailfishos-chum/kf6-qqc2-breeze-style
[submodule "src/qt6-qtvirtualkeyboard"]
	path = src/qt6-qtvirtualkeyboard
	url = https://github.com/sailfishos-chum/qt6-qtvirtualkeyboard
[submodule "src/qt6"]
	path = src/qt6
	url = https://github.com/sailfishos-chum/qt6
[submodule "src/kf6"]
	path = src/kf6
	url = https://github.com/sailfishos-chum/kf6
[submodule "src/qt6-qtbase"]
	path = src/qt6-qtbase
	url = https://github.com/sailfishos-chum/qt6-qtbase
[submodule "src/qt6-qtconnectivity"]
	path = src/qt6-qtconnectivity
	url = https://github.com/sailfishos-chum/qt6-qtconnectivity
[submodule "src/qt6-qthttpserver"]
	path = src/qt6-qthttpserver
	url = https://github.com/sailfishos-chum/qt6-qthttpserver
[submodule "src/qt6-qtimageformats"]
	path = src/qt6-qtimageformats
	url = https://github.com/sailfishos-chum/qt6-qtimageformats
[submodule "src/qt6-qtlanguageserver"]
	path = src/qt6-qtlanguageserver
	url = https://github.com/sailfishos-chum/qt6-qtlanguageserver
[submodule "src/qt6-qtnetworkauth"]
	path = src/qt6-qtnetworkauth
	url = https://github.com/sailfishos-chum/qt6-qtnetworkauth
[submodule "src/qt6-qtserialport"]
	path = src/qt6-qtserialport
	url = https://github.com/sailfishos-chum/qt6-qtserialport
[submodule "src/qt6-qtshadertools"]
	path = src/qt6-qtshadertools
	url = https://github.com/sailfishos-chum/qt6-qtshadertools
[submodule "src/qt6-qtsvg"]
	path = src/qt6-qtsvg
	url = https://github.com/sailfishos-chum/qt6-qtsvg
[submodule "src/qt6-qttools"]
	path = src/qt6-qttools
	url = https://github.com/sailfishos-chum/qt6-qttools
[submodule "src/qt6-qtwebsockets"]
	path = src/qt6-qtwebsockets
	url = https://github.com/sailfishos-chum/qt6-qtwebsockets
[submodule "src/kf6-breeze-icons"]
	path = src/kf6-breeze-icons
	url = https://github.com/sailfishos-chum/kf6-breeze-icons
[submodule "src/kf6-extra-cmake-modules"]
	path = src/kf6-extra-cmake-modules
	url = https://github.com/sailfishos-chum/kf6-extra-cmake-modules
[submodule "src/kf6-karchive"]
	path = src/kf6-karchive
	url = https://github.com/sailfishos-chum/kf6-karchive
[submodule "src/kf6-kcodecs"]
	path = src/kf6-kcodecs
	url = https://github.com/sailfishos-chum/kf6-kcodecs
[submodule "src/qt6-qtwebengine"]
	path = src/qt6-qtwebengine
	url = https://github.com/sailfishos-chum/qt6-qtwebengine
[submodule "src/kf6-kcolorscheme"]
	path = src/kf6-kcolorscheme
	url = https://github.com/sailfishos-chum/kf6-kcolorscheme
[submodule "src/kf6-kconfigwidgets"]
	path = src/kf6-kconfigwidgets
	url = https://github.com/sailfishos-chum/kf6-kconfigwidgets
[submodule "src/kf6-kguiaddons"]
	path = src/kf6-kguiaddons
	url = https://github.com/sailfishos-chum/kf6-kguiaddons
[submodule "src/kf6-kitemviews"]
	path = src/kf6-kitemviews
	url = https://github.com/sailfishos-chum/kf6-kitemviews
[submodule "src/kf6-kwidgetsaddons"]
	path = src/kf6-kwidgetsaddons
	url = https://github.com/sailfishos-chum/kf6-kwidgetsaddons
[submodule "src/kf6-plasma-wayland-protocols"]
	path = src/kf6-plasma-wayland-protocols
	url = https://github.com/sailfishos-chum/kf6-plasma-wayland-protocols
[submodule "src/kf6-qqc2-desktop-style"]
	path = src/kf6-qqc2-desktop-style
	url = https://github.com/sailfishos-chum/kf6-qqc2-desktop-style
[submodule "src/kf6-sonnet"]
	path = src/kf6-sonnet
	url = https://github.com/sailfishos-chum/kf6-sonnet
[submodule "src/kf6-kdbusaddons"]
	path = src/kf6-kdbusaddons
	url = https://github.com/sailfishos-chum/kf6-kdbusaddons
[submodule "src/kf6-kwindowsystem"]
	path = src/kf6-kwindowsystem
	url = https://github.com/sailfishos-chum/kf6-kwindowsystem
[submodule "src/kf6-knotifications"]
	path = src/kf6-knotifications
	url = https://github.com/sailfishos-chum/kf6-knotifications
[submodule "src/qt6-qt5compat"]
	path = src/qt6-qt5compat
	url = https://github.com/sailfishos-chum/qt6-qt5compat
[submodule "src/kf6-kholidays"]
	path = src/kf6-kholidays
	url = https://github.com/sailfishos-chum/kf6-kholidays
[submodule "src/kf6-kcontacts"]
	path = src/kf6-kcontacts
	url = https://github.com/sailfishos-chum/kf6-kcontacts
[submodule "src/kf6-prison"]
	path = src/kf6-prison
	url = https://github.com/sailfishos-chum/kf6-prison
[submodule "src/kf6-kcalendarcore"]
	path = src/kf6-kcalendarcore
	url = https://github.com/sailfishos-chum/kf6-kcalendarcore
